<!-- automatically rendered code -->
<!-- manual changes will be overwritten -->
<!DOCTYPE html>
<html id="{{id}}" class="{{type}} {{css}}"  lang="{{locale}}">
	<head>
	  <meta http-equiv="content-type" content="text/html" charset="UTF-8">
	  <title></title>
	  
    <link rel="icon" sizes="48x48" href="favicon_io/favicon.ico">	  
	  <link rel="apple-touch-icon" sizes="180x180" href="favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon_io/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="192x192" href="favicon_io/icon-192x192.png">
    <link rel="icon" type="image/png" sizes="512x512" href="favicon_io/icon-512x512.png">
	  
	  <link rel="manifest" href="manifest.json">
	  
	  <link rel="stylesheet" href="lib/jqueryui/jquery-ui.css">
	  <link rel="stylesheet"	href="lib/fancytree/src/skin-lion/ui.fancytree.css">	
	  <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css">
	  
    <link rel="stylesheet" href="lib/datatables/datatables-1.10.20/css/jquery.dataTables.css">
	  <link rel="stylesheet" href="css/s.css">

 	</head>
	<body>
	
{{{child}}}

    <script src="lib/jquery/jquery-3.3.1.js"></script>  
    <script src="lib/jqueryui/jquery-ui.min.js"></script>
    <script src="lib/jqueryui/jquery.ui-contextmenu.min.js"></script>
 
    <script src="lib/fancytree/src/jquery-ui-dependencies/jquery.fancytree.ui-deps.js"></script>
    <script src="lib/bootstrap/js/bootstrap.min.js"></script> 
    <script src="lib/fancytree/src/jquery.fancytree.js"></script>
    <script src="lib/fancytree/src/jquery.fancytree.dnd5.js"></script>   
    <script src="lib/fancytree/src/jquery.fancytree.edit.js"></script>
    <script src="lib/fancytree/src/jquery.fancytree.gridnav.js"></script>
    <script src="lib/fancytree/src/jquery.fancytree.table.js"></script>

    <script src="lib/datatables/datatables-1.10.20/js/jquery.dataTables.min.js"></script>  
	  <script src="https://www.gstatic.com/charts/loader.js"></script>
	
 		<script src="core/core.js"></script> 			
		<script src="app/config/ams.js"></script>
		<script src="app/js/type.js"></script>
		<script src="app/config/config.js"></script>
 		<script src="app/config/app.js"></script>
    <script src="app/lang/locale.js" charset="UTF-8"></script>
		<script src="app/js/roles.js"></script>
		<script src="app/data/actors.js"></script>
		<script src="app/js/methods.js"></script>
		<script src="app/js/actions.js"></script>
		<script src="app/js/app.js"></script>
		<script src="lib/mustache/mustache.min.js"></script>
		<script src="app/js/template.js"></script>
		
	</body>	
</html>